.header {
  background-color: #22A7F0;
  height: 50px;
  float: left;
  width: 100%;
}

.header a {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin: 1px;
}

.header a:hover {
  color: grey;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.blue-button {
  background-color: #22A7F0;
  border-radius: 10px;
  font-size: 18px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  border-style: none;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

.blue-button:hover {
  background-color: #2256f0;
  cursor: pointer;
}

.error-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: red;
}

.hide {
  display: none;
}