.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22A7F0;
    padding: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  